[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
spacy = "*"
sklearn = "*"
pandas = "*"
preshed = "*"
iteration-utilities = "*"
cairosvg = "*"
squarify = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
fuzzywuzzy = "*"
pipenv = "*"
python-levenshtein = "*"
pygal = "*"
import-from-github-com = "*"
lexicalrichness = "*"
textblob = "*"
dill = "*"
xlsxwriter = "*"
requests = "*"
jupyter = "*"
dkpro-cassis = "*"
pycm = "*"
sympy = "*"
rpy2 = "*"
intervaltree = "*"

[dev-packages]

[requires]
python_version = "3.7"
